# Unity
/MRFlagHunter/[Ll]ibrary/
/MRFlagHunter/[Tt]emp/
/MRFlagHunter/[Oo]bj/
/MRFlagHunter/[Bb]uild/
/MRFlagHunter/[Bb]uilds/
/MRFlagHunter/[Ll]ogs/
/MRFlagHunter/[Uu]ser[Ss]ettings/
/MRFlagHunter/ExternalPackages/
# Other
.vs/
.vscode/
.utmp/
.vsconfig
*.sln
*.csproj
*.vrmanifest
